@import '../../variables';
@import '../../media-queries';

.SectionSuscribete {
    position: relative;
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    video {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
        z-index: -10;
    }

    .containerSuscribete {
        color: #ffffff;
        width: 60%;
        max-width: 800px;
        height: 400px;

        background-color: #717a9aef;
        text-align: start;
        border-radius: 30px;
        padding: 60px 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;

        h2 {
            color: $color-secundary;
            font-size: 32px;
        }

        p {
            font-size: 20px;
            margin-bottom: 40px;
        }

        form {
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: center;
            position: relative;

            span {
                position: absolute;
                top: -20px;

            }

            input {
                background-color: #01012a;
                border: 2px solid $color-primary;
                width: 90%;
                height: 48px;
                border-radius: 10px;
                color: #ffffff;
                padding: 0 20px;
                font-size: 20px;
            }

            button {
                background-color: $color-secundary;
                border: none;
                cursor: pointer;
                font-size: 20px;
                width: 100%;
                height: 40px;
                border-radius: 30px;
            }
        }

    }

    @include tablet {
        video {
            height: 100%;
            bottom: 0;

        }

        .containerSuscribete {
            width: 90%;
            height: auto;
            padding: 30px 60px;

            form {
                display: flex;
                flex-direction: column;
                gap: 10px;

                label {
                    width: 100%;
                }

                input {
                    width: 100%;
                    border-radius: 30px;
                }

                button {

                    margin-bottom: 20px;

                }
            }
        }
    }
}