@import "../../variables";

.Header {
    width: 100%;
    height: 64px;
    padding: 20px;
    
    h1{
        color: white;
        font-family: 'Braah One', sans-serif;
        font-weight:400;
     
        span{
      
            color: $color-primary;
  
        }
    }
    
}